* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #333;
}
.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
}
a, a:hover {
    text-decoration: none;
    color: #333;
}
.fixed {
    position: fixed;
    top: 0;
}
/********** HEADER **********/
.header {
    position: relative;
    z-index: 10;
}
header {
    height: 120px;
    width: 100%;
    position: absolute;
    background: rgba(255,255,255,0);
    top: 0;
}
header .row {
    justify-content: space-between;
}
.logo {
    padding-top: 39px;
}
.menu {
    display: flex;
    flex-direction: column;
    height: 120px;
}
.top_m {
    height: 50px;
    width: 1000px;
    position: relative;
}
.top_m ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 0;
}
.top_m li:not(:nth-child(3), :last-child)::after {
    content: "";
    margin: 2px 10px 0;
    width: 1px;
    height: 10px;
    display: inline-block;
    background: #555;
}
.top_m li:last-child {
    margin-left: 20px;
}
.top_m a {
    color: #555;
}
.bottom_m {
    height: 70px;
    width: 1000px;
    position: relative;
}
.bottom_m .gnb {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 0;
}
.gnb>li:not(:nth-child(6), :last-child) {
    text-align: left;
    width: 190px;
    justify-content: space-between;
}
.gnb>li:nth-child(6),
.gnb>li:last-child {
    width: 30px;
}
.gnb>li>a {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 70px;
}
.gnb>li.search a,
.gnb>li.close a {
    font-size: 21px;
}
.gnb>li:nth-child(6)>a {
    margin-left: 6px;
}
.gnb>li:not(:nth-child(6), :last-child)>a:hover {
    color: #2077f5;
    border-bottom: 1px solid #2077f5;
}
.lnb {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 360px;
    text-align: left;
    position: relative;
    z-index: 12;
}
.lnb li {
    margin-top: 25px;
}
.lnb a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.close {
    display: none;
}
.close i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #000;
    border-radius: 50%;
    color: #fff;
}
.lnbbox {
    display: none;
    height: 360px;
    border-top: 1px solid #ededed;
    background: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 10;
}
.searchbox {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    background: #000;
    opacity: 0.5;
    position: fixed;
    z-index: 10;
    display: none;
}
.searchbox .box {
    width: 100%;
    height: 145px;
    padding: 40px 0;
    background: #fff;
    border-top: 1px solid #ddd;
}
.searchbox .box .container {
    position: relative;
}
.searchbox .box input {
    width: 100%;
    height: 60px;
    padding: 20px 60px 20px 0;
    font-size: 22px;
    border: none;
    border-bottom: 2px solid #000;
}
.searchbox .box i {
    font-size: 26px;
    color: #000;
    position: absolute;
    bottom: 17px;
    right: 15px;
}

/***** BANNER *****/
.bannerbox {
    height: 770px;
}
.banner {
    width: 100%;
    height: 770px;
    background: url(../images/banner.png) no-repeat bottom center;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.txtarea {
    margin: 0 auto;
    position: relative;
    top: 255px;
}
.txtarea h2 {
    line-height: 60px;
    font-size: 50px;
    color: #000;
    margin: 0;
}
.txtarea p {
    margin: 0;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}
.quickbtn {
    margin-top: 40px;
}
.quickbtn a {
    padding: 10px 25px;
    border: 1px solid #555;
    border-radius: 23px;
    font-weight: 500;
    color: #555;
}

/***** MAIN-S *****/
.main-s {
    width: 100%;
    height: 120px;
    padding: 33px 0;
    background: linear-gradient(to right, #46ccd8 10%, #468fdf 40%, #1e80e2 70%, #2880e8);
}
.place-c {
    width: 970px;
    height: 60px;
    border-radius: 30px;
    padding-left: 40px;
    font-size: 15px;
    font-weight: 900;
    border: none;
}
.place-c:hover {
    border: 1px solid #000;
}
.main-sbox {
    position: relative;
}
.search-c {
    font-size: 26px;
    color: #000;
    position: absolute;
    bottom: 15px;
    right: 25px;
}
.main-sbtn {
    width: 270px;
    height: 60px;
    margin-left: 40px;
    padding: 5px 10px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
.main-sbtn p {
    margin: 0;
    display: flex;
    align-items: center;
}
.main-sbtn .fa-map-location-dot {
    font-size: 24px;
}
.main-sbtn span {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}
.main-sbtn .fa-angle-right {
    font-size: 18px;
}

/***** REALTIME *****/
.main-c {
    position: relative;
}
.realtime-p {
    background: #f5f5f5;
    padding: 100px 0 130px;
}
.rtime-title {
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
}
.rtime-title h3 {
    margin: 0;
    margin-right: 14px;
    font-size: 40px;
    font-weight: 700;
}
.rtime-title span {
    color: #555;
    font-size: 18px;
    font-weight: 500;
}
.rtime-boxs {
    list-style: none;
    display: flex;
    margin: 0 -8px;
    padding: 0;
    margin-bottom: 35px;
}
.rtime-box {
    width: 33.33333%;
    height: 250px;
    background: #fff;
    margin: 0 8px;
    padding: 45px 40px 40px;
    position: relative;
    transition: all 500ms;
}
.rtime-box:hover {
    box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.1);
}
.rtime-box a>span {
    color: #0082ff;
    font-size: 18px;
    font-weight: 500;
}
.rtime-box a h4 {
    margin: 0;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 500;
}
.box-bottom {
    display: flex;
    position: absolute;
    bottom: 40px;
}
.box-bottom p {
    margin: 0;
}
.box-bottom span {
    padding: 0 15px;
    margin-left: 20px;
    color: #e44d4d;
    border: 1px solid #e44d4d;
    border-radius: 15px;
}
.info {
    color: #999;
    font-size: 14px;
}
.info i {
    margin-right: 8px;
}

/***** CONDITION *****/
.condition {
    background: #479def;
    color: #fff;
    height: 370px;
}
#condition {
    padding: 60px 0;
}
.c_title {
    margin-top: 20px;
    width: 640px;
}
.c_title h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 52px;
}
.c_title p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    opacity: 0.7;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.c_check {
    width: 640px;
}
.c_check ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}
.c_check ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.c_check ul li p {
    margin: 0;
    font-size: 20px;
    margin-top: 10px;
}
.c_check ul li strong {
    margin-right: 30px;
    font-weight: 700;
}
._box {
    position: relative;
}
._select a {
    padding: 0 30px;
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #54abff;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
}
.act {
    transform: rotate(180deg);
}
.text_elps {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
._list_scroll {
    width: 100%;
    height: 320px;
    overflow-y: hidden;
    padding: 12px 0 22px 0;
    margin-top: 10px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}
#s_list_scroll {
    height : auto;
}
._list {
    margin: 0 5px 0 20px;
    height: 280px;
    overflow-y: auto;
}
#s_list {
    height : auto;
}
._list::-webkit-scrollbar {
    margin: 0 8px;
    width: 8px;  
}
._list::-webkit-scrollbar-thumb {
    height: 30%;
    background: #ccc;
    border-radius: 16px;
}
._list::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 16px;
}
.d-none {
    display: none;
}
.selected a {
    color: #3073c1;
    font-weight: 700;
}
.list a {
    font-size: 16px;
    font-weight: 400;
}
ul li.last-btn {
    justify-content: flex-end;
}
#c_search {
    width: 230px;
    height: 50px;
    border-radius: 25px;
    background: #fff;
    color: #3073c1;
    font-size: 17px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
#c_search span {
    margin-left: 6px;
}
#c_search i {
    font-size: 22px;
}

/***** STEP *****/
.c_step {
    padding: 120px 0 130px 0;
    background: #f5f5f5;
}
#c_step h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 700;
}
.c_step .row {
    margin-top: 40px;
    display: flex;
    justify-content: space-around
}
.c_step .box {
    margin: 0 15px;
    padding: 50px 40px;
    width: 625px;
    height: 280px;
    background: #fff;
    position: relative;
}
.c_step .box:hover {
    box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.1);
}
.box h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.box p {
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}
.box span {
    position: absolute;
    bottom: 50px;
}
.box span.detail {
    font-size: 14px;
    color: #999;
    text-decoration: underline;
}
.box span.img {
    right: 40px;
    width: 70px;
    height: 70px;
    background: url(../images/ico_main_guide_info.png) no-repeat;
}
.box span.img02 {
    background-position: -70px 0;
}

/***** ARTICLE *****/
.article {
    padding: 120px 0 130px 0;
}
.left {
    padding: 60px 50px;
    margin-right: 30px;
    width: 625px;
    height: 630px;
    background: url(../images/bg_main_improve.png) no-repeat;
    object-fit: cover;
    color: #fff;
}
.left h2 {
    margin: 0;
    padding: 0;
    line-height: 54px;
    font-size: 40px;
    font-weight: 700;
}
.left p {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-size: 18px;
}
.left a {
    color: #fff;
    font-size: 16px;
}
.left span {
    display: block;
    margin-top: 40px;
    width: 195px;
    height: 45px;
    border: 1px solid #fff;
    padding: 6px 25px 10px;
    border-radius: 23px;
    font-weight: 500;
}
.left span i {
    margin-left: 5px;
}
.right {
    flex-direction: column;
    justify-content: space-between;
}
.r-top {
    padding: 40px;
    width: 625px;
    height: 300px;
    border: 1px solid #ddd;
    position: relative;
}
.r-top h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}
.r-top ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    list-style: none;
}
.r-top ul li {
    margin-top: 15px;
    
}
.r-top a {
    display: flex;
    justify-content: space-between;
}
.r-top p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    max-width: 80%;
}
.r-top>span {
    font-size: 16px;
    color: #999;
}
a.more {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
.r-bottom {
    width: 625px;
    height: 300px;
    background: url(../images/161345841748472685.png) no-repeat;
    object-fit: cover;
}

/***** BOAST *****/
.boast {
    background: #edf1f7;
}
#boast {
    background: url(../images/boast.png) no-repeat bottom left;
}
.b_textbox {
    padding: 65px 0 63px 655px;
}
.b_textbox h3 {
    margin: 0;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
}
.b_textbox p {
    margin: 0;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
}
.b_textbox a {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    border: 1px solid #555;
    border-radius: 23px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

/***** SLIDE *****/

/***** TOP *****/
.top {
    position: fixed;
    right: 30px;
    bottom: 35px;
    opacity: 0;
    transition: all 300ms;
}
.opacity {
    opacity: 1;
    transition: all 300ms;
}
#top {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 15px;
    border: none;
}
#top i, #top span {
    display: block;
}

/***** FOOTER *****/
footer {
    padding-bottom: 72px;
    background: #333;
    height: 260px;
    color: #999;
}
.f_menu {
    border-bottom: 1px solid #3d3d3d;
}
#f_menu {
    padding: 22px 0;
}
#f_row {
    justify-content: space-between;
    align-items: center;
}
.footer_m {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.footer_m li {
    padding: 0 22px;
    position: relative;
}
.footer_m li:first-child {
    padding-left: 0;
}
.footer_m li:first-child a {
    color: #ddd;
}
.footer_m li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 15px;
    background: #555;
    margin: 0 20px;
    position: absolute;
    top: 2px;
}
.f_menu a {
    color: #999;
}
#family {
    position: relative;
}
.f_select {
    width: 200px;
    height: 36px;
    border: 1px solid #999;
    border-radius: 18px;
    padding: 5px 20px;
}
.f_select a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fm_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.fm_list li {
    margin-top: 8px;
}
.f_list_scroll {
    width: 280px;
    height: 255px;
    overflow-y: hidden;
    padding: 17px 0;
    background: #333;
    border: 1px solid #999;
    border-radius: 15px;
    position: absolute;
    bottom : 40px;
    right: 0;
    z-index: 10;
}
.fm_list {
    margin: 0 5px 0 20px;
    height: 220px;
    overflow-y: scroll;
}
.fm_list::-webkit-scrollbar {
    margin: 0 8px;
    width: 5px;  
}
.fm_list::-webkit-scrollbar-thumb {
    height: 30%;
    background: #000;
    border-radius: 16px;
}
.fm_list::-webkit-scrollbar-track {
    background: #888;
    border-radius: 16px;
}
.f_info {
    padding-top: 30px;
}
.f_logo {
    width: 160px;
}
.f_logo span {
    display: inline-block;
    width: 78px;
    height: 34px;
    background: url(../images/f_logo.png) no-repeat;
    object-fit: cover;
}
.f_left {
    width: 700px;
}
.f_left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.f_left li:first-child {
    margin-bottom: 5px;
}
.f_left li {
    margin-bottom: 10px;
}
.f_left li>span {
    font-weight: 400;
    color: #ddd;
    padding-right: 5px;
}
.e-mail {
    padding-left: 20px;
}
.f_img01 {
    display: inline-block;
    width: 194px;
    height: 40px;
    background: url(../images/f_right_01.png) no-repeat;
    object-fit: cover;
    margin-left: 16px;
}
.f_img02 {
    display: inline-block;
    width: 180px;
    height: 40px;
    background: url(../images/f_right_02.png) no-repeat;
    object-fit: cover;
    margin-left: 16px;
}